.section {
    position: fixed;
    left: 0;
    top: 8.5%;
    width: 100%;
    height: 400px;
    background-color: #f0ece5;
}

.link:visited{
    text-decoration: none;
    color: black;
}

.container1{
    height: 160px;
    width:130px;
    background-color: rgba(255, 255, 255, 0.514);
    margin-left: 32px;
    margin-top: 40px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 5px 5px 4px #e6e2d8;
}

.m1{
    float:left
}

.card1{
    overflow: hidden;
    height: 100px;
    width: 130px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 10px 10px 0px 0px;
}

.where1{
    font-size: 11px;
    margin-left: 55px;
    font-family: "a12";
}

.name1{
    font-size: 15px;
    margin-left: 40px;
    margin-top: -9px;
    font-family: "a13";
}

.container2{
    height: 160px;
    width:130px;
    background-color: rgba(255, 255, 255, 0.514);
    margin-left: 193px;
    margin-top: -160px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 5px 5px 4px #e6e2d8;
}

.m2{
    float:right;
}

.card2{
    overflow: hidden;
    height: 100px;
    width: 130px;
    border-radius: 10px 10px 0px 0px;
}

.where2{
    font-size: 11px;
    margin-left: 53px;
    font-family: "a12";
}

.name2{
    font-size: 15px;
    margin-left: 40px;
    margin-top: -9px;
    font-family: "a13";
}
